/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-prussian: #233851;
  --color-indigo: #2E4561;
  --color-ultra-violet: #515575;
  --color-violet: #6d597a;
  --color-rose: #b56576;
  --color-coral: #e56b6f;
  --color-pink: #e88c7d;
  --color-tan: #eaac8b;
  --color-dogwood: #F5D1BE;
  --color-seashell: #FFF6F1;

  --unit: 0.6rem;
  --spaceIncrement: 1.66;
  
  --space-s: var(--unit);
  --space-m: calc(var(--space-s) * var(--spaceIncrement));
  --space-l: calc(var(--space-m) * var(--spaceIncrement));
  --space-xl: calc(var(--space-l) * var(--spaceIncrement));
  --space-2xl: calc(var(--space-xl) * var(--spaceIncrement));
  --space-3xl: calc(var(--space-2xl) * var(--spaceIncrement));
  --space-4xl: calc(var(--space-3xl) * var(--spaceIncrement));

  --textFrameRatio: 2.5;
  --textFrameY: 0.5em;
  --textFrameX: calc(var(--textFrameY) * var(--textFrameRatio));
}

/* semantic color variables for this project */
:root {
  --color-background: var(var(--color-seashell));
  --color-background-muted: var(--color-dogwood);
  --color-text: var(--color-prussian);

  --section-gap: 160px;
  --baseTextSize: 1rem;

  /* Shaper */
  --textSizeIncrement: 1.4;

  --text-xs: calc(var(--baseTextSize) / var(--textSizeIncrement));
  --text-s: var(--baseTextSize);
  --text-m: calc(var(--text-s) * var(--textSizeIncrement));
  --text-l: calc(var(--text-m) * var(--textSizeIncrement));
  --text-xl: calc(var(--text-l) * var(--textSizeIncrement));

  --lineHeightFixedAmount: 0.35rem;
  --lineHeightRelativeAmount: 1.1em;
  --globalLineHeight: calc(var(--lineHeightFixedAmount) + var(--lineHeightRelativeAmount));

  --font-family: Atkinson, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-prussian);
    --color-background-muted: var(--color-indigo);
    --color-text: var(--color-seashell);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family), sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: var(--text-xl);
  line-height: calc(var(--text-xl) + var(--globalLineHeight));
}
h2 {
  font-size: var(--text-l);
  line-height: calc(var(--text-l) + var(--globalLineHeight));
}
h3 {
  font-size: var(--text-m);
  line-height: calc(var(--text-m) + var(--globalLineHeight));
}
h4 {
  font-size: var(--text-s);
  line-height: calc(var(--text-s) + var(--globalLineHeight));
}
h5 {
  font-size: var(--text-xs);
  line-height: calc(var(--text-xs) + var(--globalLineHeight));
}
h6 {
  font-size: var(--text-xs);
  line-height: calc(var(--text-xs) + var(--globalLineHeight));
}

button, .button {
  padding: var(--textFrameY) var(--textFrameX);
}