@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: var(--globalLineHeight);
}

h1 {
  font-size: var(--text-xl);
  /* line-height: calc(var(--text-xl) + var(--globalLineHeight)); */
}
h2 {
  font-size: var(--text-l);
  /* line-height: calc(var(--text-l) + var(--globalLineHeight)); */
}
h3 {
  font-size: var(--text-m);
  /* line-height: calc(var(--text-m) + var(--globalLineHeight)); */
}
h4 {
  font-size: var(--text-s);
  /* line-height: calc(var(--text-s) + var(--globalLineHeight)); */
}
h5 {
  font-size: var(--text-xs);
  /* line-height: calc(var(--text-xs) + var(--globalLineHeight)); */
}
h6 {
  font-size: var(--text-xs);
  /* line-height: calc(var(--text-xs) + var(--globalLineHeight)); */
}

button, .button {
  padding: var(--textFrameY) var(--textFrameX);
}


input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  cursor: pointer;
  display: block;
  padding: var(--textFrameY) var(--textFrameX);
  border: 1px solid var(--color-text);
  border-radius: 4px;
}
input[type="checkbox"]:checked + label {
  background-color: var(--color-text);
  color: var(--color-background);
}